<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <typeHandlers>
        <typeHandler handler="com.winx.typehandler.ProxyTypeHandler" javaType="com.winx.enums.ProxyType" jdbcType="TINYINT"/>
        <typeHandler handler="com.winx.typehandler.ProxyAvailableHandler" javaType="com.winx.enums.ProxyAvailable" jdbcType="TINYINT"/>
    </typeHandlers>
</configuration>